@mixin fonts ($weight: 400, $fs: 18px, $color: rgba(51, 26, 47, 0.8), $lh: 160%) {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-size: $fs;
  line-height: $lh;
  font-weight: $weight;
  color: $color;
}
