.button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 104px;
  min-height: 36px;
  padding: 4px 20px;
  text-decoration: none;
  letter-spacing: 0.02em;
  background-color: $color-accent;
  border-radius: 6px;
  cursor: pointer;

  @include fonts (500, 14px, #ffffff, 197%);

  &:hover:not(:disabled) {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 2px solid $color-accent;
    outline-offset: 2px;
  }

  &:active {
    background-color: #ffffff;
    box-shadow: 0 4px 25px $color-shadow;

    @include fonts (500, 14px, $color-accent, 197%);

    svg {
      fill: $color-accent;
    }
  }

  &:disabled {
    opacity: 0.1;
    cursor: no-drop;
  }

  &--disabled {
    opacity: 0.1;
    pointer-events: none;
  }
}

@media (min-width: 768px) {
  .button {
    width: 158px;
    padding: 4px 32px;
    border-radius: 12px;

    @include fonts (500, 20px, #ffffff, 176%);
  }

  .button__line {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 1280px) {
  .button {
    width: 152px;

    @include fonts (500, 18px, #ffffff, 196%);
  }
}

@media (min-width: 1920px) {
  .button {
    width: 169px;

    @include fonts (500, 23px, #ffffff, 153%);
  }

  .button__line {
    width: 23px;
    height: 23px;
  }
}
